@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1" >Welcome to Joe's Gaming</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Product</th>
                <th scope="col">Typical Price</th>
            
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Xbox games</td>
                <td>$49.99</td>
            
            </tr>
            <tr>

                <td>Arcade</td>
                <td>$5/hour</td>
            
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
            </tr>
    </tbody>
</div>
</table>